@using lab5.Models
@model PageViewModel
<div>
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageNumber + 1)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>