@model lab5.Models.ScheduleForWeek

<h2>Редактирование</h2>
<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ScheduleForWeekID" />
        <div class="form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <input asp-for="StartTime" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GuestsEmployees" class="control-label"></label>
            <input asp-for="GuestsEmployees" class="form-control" />
            <span asp-validation-for="GuestsEmployees" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
</div>