@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h2>Главная страница</h2>
    <table style="width:60%;">
        <tr>
            <td>Данные</td>
            <td>Данные</td>
            <td>Данные</td>
        </tr>
        <tr>
            <td>Данные</td>
            <td>Данные</td>
            <td>Данные</td>
        </tr>
        <tr>
            <td>Данные</td>
            <td>Данные</td>
            <td>Данные</td>
        </tr>
    </table>
    <div>
        <div>
            <button onclick="location.href = '/Home/About'">Просмотр базы данных</button>
        </div>
        <div>
            <button onclick="location.href = '/Home/About2'">Обработка исключений</button>
        </div>
    </div>
</div>
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
